* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --theme: #20c997;
}

.second-div {
    margin-left: 300px;
}

.header2 {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(43, 38, 38, 0.5), rgba(20, 66, 63, 0.655)), url(../images/intro-bg.jpg);
    background-size: cover;
    background-position: 50%;
    position: relative;
    background-attachment: fixed;
}
.typed-cursor{
    font-size: 45px !important;
    color: #20c997;
}
.text1{
    font-size: 45px !important;
}


.favicon {
    width: 45px;
    height: 45px;
}

nav.navbar {
    overflow: hidden;
    overflow-y: auto;
    z-index: 9997;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 260px;
}

nav.navbar a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 10px;
    letter-spacing: 1px;
}

.second-div {
    margin-left: 250px;
}

.navbar-brand img {
    width: 176px;
    height: 176px;
    border: 5px solid #343a40;
}

.img1 {
    position: absolute;
    top: 10px;
}

.navbar-nav li i {
    color: #fff;
    font-size: 20px;
    padding: 15px;
}

.fa-brands {
    color: #fff;
    margin: 2px;
    font-size: 15px;
}

nav.navbar .navbar-nav .nav-item .nav-link:hover {
    color: #20c997;

}

.social-media i:hover {
    color: #20c997;
}

/* nav.navbar .navbar-toggler {
    color: #FFF;
    font-size: 1.3rem;
    cursor: pointer;
    z-index: 999;
    outline: none;
    background-color: #35a22c;
} */
.hire {
    width: 130px;
    color: #20c997 !important;
    border: 1px solid #20c997 !important;
    transition: all 1.5s !important;
}

.hire:hover {
    color: white !important;
    background-color: #20c997 !important;
}

header .header-content {
    position: absolute;
    z-index: 999;
    height: 300px;
    margin-top: 100px;
}

header .header-content img {
    display: none;
    border-radius: 50%;
    width: 120px;
    border: 3px solid #fff;
}

header .header-content .content {
    text-align: center;
    color: white;

}

header .header-content .content h2 {
    font-weight: 600;
    font-size: 3rem;
}

header .header-content .content p {
    font-weight: 500;
    font-size: 2rem;

}
header .header-content .content :nth-child(4) {
    font-size: 25px;
    text-decoration: none;
 color:#fff;

}
/* header end ********* */

/* about me start ******* */
.section {
    /* padding: 4rem; */
    padding: calc(100% - 96%);

}

.bg-dark-pro {
    background-color: #212529 !important;
}

.bg-dark-light {
    background-color: #343a40 !important;
}

#about .h2 {
 font-size: clamp(4rem, 17vw, 8rem);
}

.after {
    color: #20c997;
}

.fw-600 {
    font-weight: 600;
    letter-spacing: 1.5px;
}

.text {
    color: #20c997;
}

a {
    text-decoration: none !important;
}

#about ul li span+a {
    color: #20c997;
}

.resume-btn {
    background-color: #20c997 !important;
    border: 1px solid #20c997 !important;
    transition: 1s !important;
}

.resume-btn:hover {
    border: 1px solid #20c997 !important;
    background-color: transparent !important;
}

/* services ****** */
#services .h2 {
    /* font-size: 125px; */
 font-size: clamp(1rem, 17vw, 8rem);
    
}

.services-box {
    display: flex;
}

.services-box-icon {
    width: 170px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.services-box-icon i {
    color: #20c997;
}

/* summary  */

#resume .h2 {
    /* font-size: 125px; */
    font-size: clamp(1rem, 17vw, 8rem);

}

.bg-dark-max {
    background-color: #111418 !important;
}

.bg-dark-max .badge {
    background-color: #20c997;
}

.bg-dark-max h4 {
    letter-spacing: 0.5px;
}

.progress {
    height: 7px !important;
}

.progress-bar {
    background-color: #20c997 !important;
}

/* my work ############# */
#portfolio .h2{
 
    font-size: clamp(0.5rem, 17vw, 8rem) !important; 
}
.nav .nav-link {
    color: white !important;
}

.nav-tabs .nav-link.active {
    color: #20c997 !important;
    background-color: transparent !important;
    border-bottom: 1px solid #20c997 !important;
}

.nav-tabs .nav-link {
    border: none !important;
}

.tab-pane img {
    /* max-width: 100%; */
    height: 200px;
    transition: 0.7s;
    filter: grayscale();

}

.tab-pane img:hover {
    filter: none;
}

.janeImg {
    width: 260px !important;
    height: 420px !important;
}

.photoshop1 {
    width: 260px;
}

.photoshop2 {
    width: 500px;
    height: 236px !important;
}

/* contact ########### */
#contact .h2 {
    /* font-size: 125px; */
 font-size: clamp(1rem, 17vw, 8rem);
    
    color: #fff;

}

.grey {
    color: #ede6e6c9;
}

#contact i {
    color: #20c997;
    font-size: 20px;
}

.contact {
    background-image: linear-gradient(80deg, #212529f6 50%, #343a40a8), url(../images/architect.jpg);
    /* height: 90vh; */
    overflow: hidden;

}

#btn1{
    display: none;
 background-color: #20c997 !important;
}
input{
    outline: none !important;
}
.send{
    background-color: #20c997 !important;
}


/* contact end ##############3 */

/* about me end ******* */

@media (max-width:321px) {
    nav.navbar {
        display: none;
    }

    .second-div {
        margin-left: 0px;
    }

    header .header-content {
        margin-top: 0px;
    }
 
}

@media only screen and (min-width:322px) and (max-width:376px) {
    nav.navbar {
        display: none;
    }

    .second-div {
        margin-left: 0px;
    }
  
}

@media only screen and (min-width:378px) and(max-width:426px) {
    /* nav.navbar {
        display: none;
    } */

    .gallery .images .imgbox div img {
        width: 100%;
    }

    .second-div {
        margin-left: 0px;
    }
  
}

@media only screen and (min-width:427px) and (max-width:769px) {
    nav.navbar {
        display: none;
    }

    .second-div {
        margin-left: 0px;
    }

    /* .gimg1{
                width: ;
            } */
    .gallery .images .imgbox div img {
        height: 100%;
        width: 100%;
    }

    .gallery .images .imgbox .centerimg {
        display: none;
    }
   
}

@media only screen and (min-width:426px) and (max-width:1025px) {
    .about .skills .single-skill {
        margin-left: 8px;
        margin-right: 0px;
    }

    .about-button .btn {
        margin-left: 8px;
        margin-right: 0px;
    }

   
}

@media (max-width:426px) {
    .projectimg {
        margin-left: 0px;
    }

    .projectbtn {
        margin-left: 0px;
    }

    .projectbtn2 {
        margin-left: 0px;
    }
  
}